.diseño_centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Para que no esté pegado al techo */
    padding: 20px;
}

.ancho-completo {
    width: 100%;
    max-width: 350px; /* Para que no se estire demasiado */
    margin-bottom: 15px;
}

.titulo-bodega {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    color: #3f51b5; /* Color azul de Material */
}

.contenedor-botones {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 350px;
    justify-content: center;
}


/* Estilos para los mensajes de validación */
.snackbar-exito {
  background-color: #4caf50 !important; /* Verde éxito */
  color: white !important;
  font-weight: bold;
}

.snackbar-error {
  background-color: #f44336 !important; /* Rojo error */
  color: white !important;
}

