<div class="overlay-fondo">
  <div class="ventana-registro">
    <div class="contenedor-principal">
      <div class="tarjeta-registro animate__animated animate__fadeIn">
        <img src="img/logo.png" alt="logo" width="120px" class="logo-bodega">
        
        <h2>Registro de Nuevo Cliente</h2>
        

        <div class="formulario">
          <mat-form-field appearance="outline" class="ancho-completo">
            <mat-label>DNI </mat-label>
            <input matInput [(ngModel)]="clienteData.dni" name="dni" placeholder="Ej. 70654321">
            <mat-icon matSuffix>badge</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="ancho-completo">
            <mat-label>Nombres </mat-label>
            <input matInput [(ngModel)]="clienteData.nombre" name="nombre" placeholder="Escribe tu Nombre">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="ancho-completo">
            <mat-label> Apellidos</mat-label>
            <input matInput [(ngModel)]="clienteData.apellidos" name="apellidos" placeholder="Escribe tu Apellido  ">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="ancho-completo">
            <mat-label>Teléfono / Celular</mat-label>
            <input matInput type="tel" [(ngModel)]="clienteData.telefono" name="telefono" placeholder="987 654 321">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>

        <div class="contenedor-botones">
          <button mat-raised-button color="primary" class="btn-guardar" (click)="guardarCliente()">
            <mat-icon>save</mat-icon> Guardar Cliente
          </button>
          <button mat-button color="warn" routerLink="/inicio">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>